<div>
  <h1>What is Angular</h1>
  <article>
  <p>
    Suspendisse eros ad urna pulvinar mauris neque. Convallis felis litora
    himenaeos gravida fringilla feugiat nascetur. Sollicitudin dolor fermentum
    fermentum metus. Vitae, nascetur ultrices amet inceptos egestas mollis
    vehicula mollis rhoncus hendrerit mattis? Rutrum primis, tellus pretium nam
    dui quam at. Placerat semper mus vestibulum sociosqu tempor nullam ac duis
    ac eget? Viverra facilisi lacinia fermentum magnis magnis ridiculus. Nec ac
    porta praesent gravida donec facilisis. Neque risus ultrices pellentesque
    fames leo porta. Massa nulla, ac imperdiet. Elementum faucibus mattis eget
    sagittis sed bibendum auctor magnis! Habitant potenti quisque senectus
    ultrices nunc nascetur ullamcorper fusce turpis vehicula. Quis, posuere
    sapien habitant pulvinar. Urna primis vel orci sem conubia cubilia leo
    himenaeos. Proin massa consequat magnis habitasse penatibus aptent magna
    proin arcu dictum et placerat. Lorem, mus dignissim augue ut. Purus
    tincidunt arcu risus eu etiam. Fames curabitur facilisi etiam commodo
    fermentum tristique augue. Cum varius proin rhoncus natoque ultrices?
  </p>
  <p>
    Venenatis tortor odio magnis nascetur nascetur eu nostra lacinia proin
    himenaeos. At convallis mattis mi elit mattis habitasse amet nisi ultrices
    facilisi. Tincidunt tellus rhoncus sapien nibh tellus auctor ornare tempus
    convallis nec enim mus? Non, interdum malesuada mus! Pretium ridiculus eros
    per, dictumst sem gravida erat cubilia tempus ante magnis. Malesuada magna
    nisi, ornare iaculis ullamcorper! Neque euismod nascetur varius pharetra
    maecenas dolor eleifend velit magnis lorem duis taciti. Nisl senectus,
    litora ante ante a sagittis pellentesque tortor vulputate nisl? Donec
    fermentum magnis primis habitant. Donec non litora bibendum blandit. Per
    ligula suspendisse fames fames sodales purus viverra turpis parturient!
    Pellentesque eros?
  </p>
  <p>
    Porttitor tellus euismod consequat diam dignissim nullam. Fringilla volutpat
    fames cras vulputate accumsan nec diam diam congue diam? Ac lorem leo
    natoque nostra curabitur risus bibendum dapibus. Vestibulum ac montes nec
    hac placerat cubilia. Vel montes conubia libero odio, molestie ante
    imperdiet. Augue gravida ut donec duis elit venenatis sollicitudin proin
    posuere duis praesent vestibulum. Diam eleifend nibh at. Himenaeos sociosqu
    mattis lorem himenaeos erat litora nam nibh proin. Netus libero class vitae
    netus dictumst sociosqu orci hac tempus cum ridiculus? Convallis at libero
    rhoncus dui vehicula ut dignissim amet sem bibendum eros urna. Est nec
    habitasse semper pellentesque luctus orci ultricies. Accumsan, eros metus
    platea. Et varius potenti nascetur blandit quis. Mollis donec fringilla dis
    elit libero.
  </p>
  <p>
    Ipsum placerat molestie, justo blandit proin fusce lobortis id tellus.
    Maecenas, dapibus vivamus sollicitudin fermentum etiam bibendum nibh. Porta
    libero, etiam risus penatibus conubia. Nulla primis morbi justo pulvinar?
    Iaculis nulla rutrum volutpat, platea metus porta. Cras dapibus augue tellus
    nisi lacinia hendrerit platea. Sem ante potenti praesent orci sodales
    rhoncus aliquet facilisis habitasse conubia, mi congue. Nunc dapibus
    curabitur litora dignissim parturient, egestas magnis tempor gravida nam
    nostra litora. Iaculis consequat potenti tristique diam ad at. Nisi pulvinar
    morbi egestas lobortis velit. Rhoncus lacinia pharetra feugiat ut blandit
    dictum risus iaculis! Tincidunt imperdiet mi, potenti nibh sociis ut vitae.
    Nunc ligula accumsan lacinia nascetur conubia turpis tortor habitasse non
    adipiscing, sagittis consectetur. Sodales urna ut iaculis. Auctor adipiscing
    dictum sociosqu congue? Posuere enim imperdiet gravida?
  </p>
  <p>
    Curabitur sodales vulputate nam. Mattis parturient parturient laoreet metus
    a etiam elit lacus eleifend est iaculis. Bibendum sociosqu euismod fames
    netus a eros penatibus. Leo himenaeos elit fermentum bibendum natoque
    ultrices magnis nostra ultricies? Suscipit donec porta gravida eget euismod
    est montes, mi libero sodales at sodales. Lobortis porta pharetra, turpis
    auctor felis. Imperdiet velit facilisis montes fames imperdiet ultrices
    viverra eleifend ullamcorper dictumst taciti pulvinar. Turpis lorem curae;
    vel nulla orci. Purus praesent ac, congue non dui. Imperdiet convallis
    primis elementum. Odio proin, tincidunt ac dignissim dui. Eleifend vitae
    tempor eros tempus semper nisl tempor in himenaeos nunc leo justo! Aliquam
    nibh quis dui lectus. Molestie sociosqu eget dui massa dictum. Habitant eros
    arcu consequat? Sociosqu cursus maecenas eget habitant justo et. Montes
    varius inceptos eget in. Mollis vitae habitasse erat. Primis feugiat feugiat
    hac scelerisque duis.
  </p>
  @defer (on viewport) {
    <app-comment></app-comment>
  } @loading {
    <p>Future comments...</p>
  }
  </article>
</div>
